{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
    Edit User Page
{% endblock %}

{% block content %}
    
    <form class="post-form" method="post" action="">
    <div class="container">
            <img class="mb-4" src="{% static 'images/icons8-arch-64.png' %}" alt="logo.png" width="64" height="64">
            <h1 class="h3 mb-3 fw-normal"><strong>Change</strong> password</h1>

            <div class="row justify-content-left">
                <div class="col-lg-6">

                    {% csrf_token %}

                    {{ form|crispy }}
                    
                    
                    <button type="reset" class="btn btn-secondary" onclick="history.back()">Cancel</button>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </div>
        </div>
    </form>
    
{% endblock %}
