{% extends 'base.html' %}

{% block title %}

    Authentication Success

{% endblock %}

{% block content %}

    <meta http-equiv="refresh" content="10;{% url 'index' %}">
     
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <h1 class="fw-bold">Authentication is successful!</h1>


                    <h3 class="h2">
                        Please check your email for more instructions.
                    </h3>

                    <p>Shortly, you will be redirected to Log In page.</p>

                    <a href="{% url 'login_user' %}">
                        <input class="btn" type="submit" value="or click Here">
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
