{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
    Login User Page
{% endblock %}

{% block content %}

    <form class="post-form" method="post" action="{% url 'login_user' %}?next={{ next }}">
        <div class="container py-4">
            <img class="mb-4" src="{% static 'images/icons8-arch-64.png' %}" alt="logo.png" width="64" height="64">
            <h1 class="h3 mb-3 fw-normal"><strong>Log</strong> In</h1>

            <div class="row justify-content-left">
                <div class="col-lg-5">

                    {% csrf_token %}

                    {{ form|crispy }}

                    <button class="btn btn-primary">Log In</button>
                    or <a href="{% url 'auth' %}">Sign Up</a>
                </div>
            </div>
        </div>
    </form>

{% endblock %}