{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
    Profile Details Page
{% endblock %}

{% block content %}

    <div class="container-fluid">

            <div class="container m-1 table-responsive" style="padding: 15px">
                <div class="card border-secondary mb-3">
                    <div class="card-body text-secondary">
                        <h5 class="card-title">{{ object.email }}</h5>
                    <hr>
                        {% if object.profile.get_name %}
                            <h5 class="card-title fw-bold">{{ object.profile.get_name }}</h5>
                        {% endif %}
                        <h5 class="card-title">{{ object.profile.get_speciality_display }}</h5>
                        <h5 class="card-title">{{ object.profile.get_role_display }}</h5>
                    </div>
                </div>
            </div>

        {% if object.baseproject_set.all %}
            <div class="container m-1 table-responsive" style="padding: 15px">
                <div class="card border-secondary mb-3">
                    <div class="card-body text-dark">
                        <h5 class="card-title" style="text-align: center">Projects as
                            <i><strong>Project manager</strong></i></h5>
                    </div>
                </div>
            </div>

            {% show_projects_as_manager base_projects=object.baseproject_set.all request=request %}
        {% endif %}

        {% if object.project_set.all %}
            <div class="container m-1 table-responsive" style="padding: 15px">
                <div class="card border-secondary mb-3">
                    <div class="card-body text-dark">
                        <h5 class="card-title" style="text-align: center">Projects as
                            <i><strong>Employee</strong></i></h5>
                    </div>
                </div>
            </div>

            {% show_projects_as_employee projects=object.project_set.all request=request %}
        {% endif %}


        <a href="{% url 'projects_list' %}" style="padding: 15px">
            <input class="btn btn-primary" type="button" value="All Projects"></a>
    </div>
{% endblock %}
