{% extends 'base.html' %}
{% load static %}

{% block title %}
    OPMarch - Profile User Page
{% endblock %}

{% block content %}

    <a href="{% url 'profile_edit' pk=user.pk %}">
        <button>Edit Profile</button>
    </a>

    <div class="container card-group">

        <div class="card border-secondary mb-3" style="max-width: 25rem;">
            <div class="card-header">PROFILE PICTURE</div>
            <div class="card-body text-secondary">

                {% if user.profile.profile_picture %}
                    <p>
                        <img class="img-fluid img-thumbnail" style="width:100%;height:100%;max-block-size: 400px" src="{{ user.profile.profile_picture.url }}"
                             alt="profile-picture">
                    </p>
                {% else %}
                    <p>
                        <img class="img-fluid img-thumbnail" style="width:100%;height:100%;" src="{% static 'images/person9.svg' %}"
                             alt="profile-icon">
                    </p>

                {% endif %}
            </div>
        </div>

        <div class="card border-secondary mb-3" style="max-width: 25rem;">
            <div class="card-header">PERSONAL INFORMATION</div>
            <div class="card-body text-secondary">
                <h5 class="card-title">First Name</h5>
                <p class="card-text">{{ user.profile.first_name|default:"Unknown" }}</p>
                <h5 class="card-title">Last Name</h5>
                <p class="card-text">{{ user.profile.last_name|default:"Unknown" }}</p>
                <h5 class="card-title">Email address</h5>
                <p class="card-text">{{ user.email|default:"Unknown" }}</p>
                <h5 class="card-title">Telephone number</h5>
                <p class="card-text">{{ user.profile.phone_number|default:"Unknown" }}</p>
                <h5 class="card-title">Date of birth</h5>
                <p class="card-text">{{ user.profile.date_of_birth|default:"Unknown" }}</p>
            </div>
        </div>

        <div class="card border-secondary mb-3" style="max-width: 25rem;">
            <div class="card-header">PROFILE INFORMATION</div>
            <div class="card-body text-secondary">
                <h5 class="card-title">Speciality</h5>
                <p class="card-text">{{ user.profile.get_speciality_display|default:"Unknown" }}</p>
                <h5 class="card-title">Role</h5>
                <p class="card-text">{{ user.profile.get_role_display|default:"Unknown" }}</p>
                <h5 class="card-title">Company</h5>
                <p class="card-text">{{ user.client|default:"Unknown" }}</p>
                <h5 class="card-title">Account type</h5>
                {% if user.is_superuser %}
                    <p class="card-text">Administrator</p>
                {% elif user.groups.all %}
                    <p class="card-text">Moderator</p>
                {% else %}
                    <p class="card-text">Viewer</p>
                {% endif %}

            </div>
        </div>

    </div>

{% endblock %}