{% extends 'base.html' %}

{% block title %}
    Register User Page
{% endblock %}

{% block content %}

    <form class="post-form" method="post" action="{% url 'register_user' %}">
        <hr class="mt-0 mb-4">
        <div class="container">
            <div class="row justify-content-left">
                <div class="col-sm-4">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="btn btn-primary">Register</button>
                    or <a href="{% url 'login_user' %}">Log IN</a>
                </div>
            </div>
        </div>
    </form>


{% endblock %}