{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load my_tags %}
{% block title %}
    Projects Details Page
{% endblock %}

{% block content %}

    <body>

    {% if request.user.client %}

        <div class="container m-1 table-responsive pt-3">
            <div class="card border-secondary mb-3">
                <div class="card-body text-dark">
                    <h5 class="card-title" style="text-align: center">
                        All projects of <i><strong>{{ request.user.client }}</strong></i></h5>
                </div>
            </div>
        </div>

        <form method="get" action="">
            <div class="row m-1">
                <div class="col-lg-4" id="searchbar">

                    {{ search_form|crispy }}

                </div>
                <div class="col-lg-8 ps-3">
                    <button type="submit" class="btn btn-sm btn-light btn-outline-secondary" style="--bs-btn-padding-y: .3rem">
                        Search<i class="bi bi-search ps-2"></i>
                    </button>
                    
                </div>
            </div>
        </form>

        {% show_projects projects=project_list %}

    {% endif %}

    {% if request.user.is_staff %}
        <a href="{% url 'projects_create' %}" style="padding: 15px">
            <button class="btn btn-primary">Add new project</button>
        </a>
    {% endif %}

    </body>

{% endblock %}