{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Project Update Page
{% endblock %}

{% block content %}

    <div class="container">
        <h2 style="font-size: x-large; border: lightslategrey; border-style: solid; border-radius: 8px"
            class="row justify-content-center col-sm-4">{{ object.name }}</h2>
    </div>

    <div class="container">
        <i><a style="text-decoration: none; color: black" href="{% url 'clients_details' pk=object.client.pk %}" 
              class="row justify-content-center col-sm-4">by {{ object.client }}</a></i>
        <br>
    </div>

    <form class="post-form" method="post" action="">
    
        <div class="container">
            <div class="row justify-content-left">
                <div class="col-sm-4">
 
                    {% csrf_token %}

                    {% crispy form %}

                    <button class="btn btn-secondary">Update</button>
                </div>
            </div>
        </div>

    </form>

{% endblock %}
