{% extends 'base.html' %}
{% load my_tags %}
{% block title %}
    Projects Details Page
{% endblock %}

{% block content %}

<body>
    
    {% if request.user.client %}
        <div class="container-fluid">
        <h2 style="padding: 15px">All projects of <i><strong>{{ request.user.client }}</strong></i>:</h2>
        
        {% show_projects projects=project_list %}
        
    {% endif %}
    
    <a href="{% url 'projects_create' %}" style="padding: 15px"><button class="btn btn-primary">Add new project</button></a>
    </div>

</body>

{% endblock %}