{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Project Update Page
{% endblock %}

{% block content %}

    <div class="container">
        <h2 style="font-size: x-large; border: lightslategrey; border-style: solid; border-radius: 8px"
            class="row justify-content-center col-lg-6">{{ object.base_project.name }}</h2>
    </div>

    <div class="container">
        <i><a style="text-decoration: none; color: black" href="{% url 'clients_details' pk=object.base_project.client.pk %}" 
              class="row justify-content-center col-lg-6">by {{ object.base_project.client }}</a></i>
        <br>
    </div>

    <form class="post-form" method="post" action="">
    
        <div class="container">
            <div class="row justify-content-left">
                <div class="col-lg-6">

                    <h6>Assign employees</h6>   
                    {% csrf_token %}

                    {% crispy form %}

                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="reset" class="btn btn-secondary" onclick="history.back()">Cancel</button>
                </div>
            </div>
        </div>

    </form>

{% endblock %}
