{% extends 'base.html' %}
{% load static %}
{% block title %}
    Project Create Page
{% endblock %}

{% block content %}

    {% if request.user.is_staff %}

        <div class="container">
            <h2 style="font-size: x-large; border: lightslategrey; border-style: solid; border-radius: 8px" 
                class="row justify-content-center col-sm-4">Create New Project</h2>
        </div>

        <form class="post-form" method="post" action="{% url 'projects_create' %}">

            <div class="container">
                <div class="row justify-content-left">
                    <div class="col-sm-4">
                        {% csrf_token %}

                        {{ form.media.js }}
                        {{ form.as_p }}

                        <button class="btn btn-secondary">Create</button>

                    </div>
                </div>
            </div>
        </form>


    {% else %}
        You do not have permissions for that!
    {% endif %}

{% endblock %}
