{% extends 'base.html' %}

{% block title %}
    OPM /arch - HOME
{% endblock %}


{% block content %}

<h1>Hello, {{ user }}!</h1>

{% if user.is_authenticated %}
    
    <a href="{% url 'profile_user' %}"><button>Profile Page</button></a>

    <form method="post" action="{% url 'logout_user' %}">
        {% csrf_token %}
        <button>Log out</button>
    </form>

{% else %}
    <h3>
        If you have an account <a href="{% url 'login_user' %}"><button class="btn btn-primary">Log In</button></a>
        or <a href="{% url 'register_user' %}"><button class="btn btn-dark">Register</button></a>
    </h3>

{% endif %}

{% endblock %}
