
<header>

    <nav class="navbar bg-dark border-bottom border-body navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">OPM /arch</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    {% if request.user.is_authenticated %}
                        
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">{{ request.user }}</a>
                        </li>
                        
                        {% if request.user.client %}
                             <li class="nav-item">
                                 <a class="nav-link disabled" aria-disabled="true"><i>part of <strong>{{ request.user.client }}</strong></i></a>
                             </li>
                        {% endif %}
                        
                        {% if request.user.client.is_main %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.view_name == 'profile_details' %}active{% endif %}"
                               aria-current="page"
                               href="{% url 'profile_details' pk=request.user.pk %}">My Work</a>
                        </li>
                        {% endif %}
                        
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.view_name == 'profile_user' %}active{% endif %}"
                               href="{% url 'profile_user' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.view_name == 'projects_list' %}active{% endif %}"
                               href="{% url 'projects_list' %}">Projects</a>
                        </li>
                        
                        {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.view_name == 'clients_create' %}active{% endif %}"
                               href="{% url 'clients_create' %}">Create Client</a>
                        </li>
                        {% endif %}
                            
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.view_name == 'clients_list' %}active{% endif %}"
                               href="{% url 'clients_list' %}">Client Details</a>
                        </li>
                    {% endif %}

                    {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.view_name == 'auth' %}active{% endif %}"
                               href="{% url 'auth' %}">Sign Up</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.view_name == 'login_user' %}active{% endif %}"
                               href="{% url 'login_user' %}">Log In</a>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.view_name == 'logout_user' %}active{% endif %}"
                               href="{% url 'logout_user' %}">Log Out</a>
                        </li>

                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

</header>
