<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
</head>
<body>
    <h1>403 ACCESS FORBIDDEN</h1>
    
    <p>You do not have permissions to do that!</p>

    <input type="button" value="Go Back" onclick="history.back()">
    
    <a href="{% url 'index' %}">
        <input type="button" value="Return to Home" onclick="msg()">
    </a>

<script>
    function msg() {
        alert("You will be redirected to Home");
    }
</script>

</body>
</html>
