{% extends 'base.html' %}

{% block title %}

    Access Denied

{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <h1 class="fw-bold">403</h1>


                    <h3 class="h2">
                        Access Forbidden!
                    </h3>

                    <p>Please contact your administrator for more information.</p>

                    <a>
                        <input class="btn" type="submit" value="Return Back" onclick="history.back()">
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}