<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Details Page</title>
</head>
<body>

<h1>You are part of:</h1>
{{ request.user.client }}
{{ request.user.client.website }}
{{ request.user.client.city }}
{{ request.user.client.telephone_number }}


{% if request.user.is_superuser %}
    <h2>List of all the clients:</h2>
    {% for client in client_list %}
        {% if not client.is_main %}
        <li><a href="{{ client.website }}">{{ client.name }}</a> </li>
        {% endif %}
    {% endfor %}
{% endif %}

</body>
</html>
